/*PARTE BANNER*/
.banner{
    background-image: url(./assets/img/queso\ fondo\ 2.png);
    background-size:contain;
    background-repeat: no-repeat; 
}

#texto-baner{
    left: 90px;
    font-family: "Indie Flower", cursive;
    position:relative;
    top: 200px;
    
}
/*PARTE CARD APRENDIZAJE*/
.front, .back {
    width: 250px;
    height: 350px;
}
#cards{
    width: 250px;
    height: 350px;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transition: all 0.3s linear;
}
.back {
    transition: all 0.3s linear;
    transform: rotateY(180deg);
}
#cards {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
#cards:hover .front {
    transform: rotateY(180deg);
}
#cards:hover .back {
    transform: rotateY(360deg);
}