 HEAD
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    color: #ffffff;
    font-family: "Fredoka One", cursive;
   }
   /* NAVBAR MENU */
   .menu {
    text-align: right;
    display: flex;
    gap: 1em;
    font-size: 22px;
    font-family: "Neucha", cursive;
    
   
   }
   .menu li:hover {
    background-color: #36f;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #36f;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #36f;
   }
   .services:hover .dropdown {
    display: block;
   }
    
   .fundador{
    text-align: center;
   }
   
    .container5{
        background-image: url("./assets/img/fondo2.jpg");
        padding-top: 20px;
        padding-block: 20px;
      
    }


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#36f;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#36f;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #36f;
   }
   }
/*PARTE BANNER*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.inicio {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
.banner{
    background-size:contain;
    background-repeat: no-repeat;
}

#texto-baner{
    left: 90px;
    font-family: "Fredoka One", cursive;
    position:relative;
    top: 100px;
    color: white;
    font-size: 50px;
    
}
.carousel-inner{
transform: rotate(20deg);
}

/**MISION VISION VALORES*/

.MVV{
    font-family: "Neucha", cursive;
    text-align: center;
    align-items: center;
}

.card1{
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(to top, #f8db4c 0%, #2bd9f8  100%);
    transition: 2s;
    text-align: center;
    align-items: center;
}
/*PARTE CARD APRENDIZAJE*/
/*PARTE CARD APRENDIZAJE*/

.princip{
   text-align: center;
   margin-top: 50px;
   font-family: "Neucha", cursive;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    align-items: center;
    justify-content: space-between;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .flip-card-front {
    background-color: rgb(138, 220, 249);
    color: rgb(220, 9, 9);
  }
  
  .flip-card-back {
    background-color: #f1ec58;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }
/*PARTE CARD APRENDIZAJE*/

.secCaracteristicas{
    width: 100%;
    align-items: center;
    text-align: center;
}
.caracTitulo{
    text-align: center;
    align-items: center;
    margin-top: 50px;

}

#imgcaracteristicas :hover{
    align-items: center;
    position: relative;
    left: 100px;
}
/*FUNDADORES*/
.fundadores{
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
}
.h1{
    text-align: center;
    color: #fc00ff;
    font-family: "Fredoka One", cursive;
}

.secFundadores{
    background-image: url(./assets/img/fondo2.jpg)

}


/*FOOTER*/
.contactos{
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 50px;
    background-image: linear-gradient(to top, #f1ca07 0%, #50d8f0  100%);
}
.titleContactos{
    font-family: "Neucha", cursive;
    color: fuchsia,  rgb(212, 72, 212), rgb(224, 149, 224) ;
}
.redes{
    margin:50px auto;
    align-items: center;
    text-align: center;
    border: 1px none;
    text-decoration: none;
    
}

#celda{
    padding: 20px;
}